version: "3.8"

services:
  techstore:
    build: .
    image: techstore:latest
    container_name: techstore_app
    ports:
      - "8081:80"
    restart: unless-stopped

  newrelic-infra:
    image: newrelic/infrastructure:latest
    container_name: newrelic_infra
    privileged: true
    pid: host
    network_mode: host
    environment:
      - NRIA_LICENSE_KEY=YOUR_NEW_RELIC_LICENSE_KEY
      - NRIA_DISPLAY_NAME=techstore-docker-host
    volumes:
      - "/:/host:ro"
      - "/var/run/docker.sock:/var/run/docker.sock"
    restart: unless-stopped
